<h3><%= @cocktail.name %></h3>

<ul>
<% @cocktail.doses.each do |dose| %>
  <li><%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="fa fa-trash-o" aria-hidden="true"></i>
    <% end %>
     - <%= link_to edit_dose_path(dose) do %>
    <i class="fa fa-pencil" aria-hidden="true"></i>
    <% end %>
    - space <%= dose.ingredient.name %> : <%= dose.description %></li>
<% end %>
</ul>




  <div class="row">
    <div class="col-xs-6">

      <h5>You want to add a dose to <%= @cocktail.name %> ? Do it here</h5>

      <%= render 'doses/form' %>

    </div>
  </div>

<hr>

