<h3><%= @cocktail.name %></h3>

<ul>
<% @cocktail.doses.each do |dose| %>
  <%= render 'doses/show', dose: dose %>
<% end %>
</ul>




  <div class="row">
    <div class="col-xs-6">
      <h5>You want to add a dose to <%= @cocktail.name %> ? Do it here</h5>
        <div id="doses">
        <%= render 'doses/form', cocktail: @cocktail, dose: @dose %>
        </div>
        <p><%= link_to "Back to all cocktails", cocktails_path %></p>
    </div>
  </div>

<hr>

