<%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.error_notification %>
        <%= f.association :ingredient, collection: Ingredient.order('name ASC') %>
        <%= f.input :description, as: :text %>
        <%= f.submit "Add this does to #{@cocktail.name}", class: "btn btn-primary" %>
      <% end %>

      <p><%= link_to "Back to all cocktails", cocktails_path %></p>
