<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">

      <h3>Adding a dose to <%= @cocktail.name %></h3>

      <%= simple_form_for [@dose] do |f| %>
        <%= f.error_notification %>
        <%= f.association :ingredient, collection: Ingredient.order('name ASC') %>
        <%= f.input :description, as: :text %>
        <%= f.submit "Add this does to #{@cocktail.name}", class: "btn btn-primary" %>
      <% end %>

      <p><%= link_to "Back to all cocktails", cocktails_path %></p>

    </div>
  </div>
</div>

